Nav:hover{
    color:#ff0000;
}
.Ofe:hover{
    color: red;
}

.Ofe{
    font-family: 'Montserrat', sans-serif;
}

.Logo:hover{
color: rgb(255, 17, 0);
}
/* Add a black background color to the top navigation */
.topnav {   
    overflow: hidden;
     margin: 10px;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    font-family: 'Roboto', sans-serif;

  }

  .topnav a:hover {
    border-bottom: 3px solid rgb(179, 175, 175);
    color: aquamarine;
  }
  
  .topnav a.active {
    border-bottom: 3px solid rgb(179, 175, 175);
  }
  /*social*/
  section{
      padding: 10px;
      margin: auto;
  }

  *{
    box-sizing: border-box;
  }
 
 .button:hover{
  transition: all ease 0.3s;
   transform: scale(-1.1);
 }
 .Boubli{
  background-color: rgba(255, 250, 250, );
 }
 .projectSection{
margin: -20;
 }
 *{
   box-sizing: border-box;
 }
 .Ofelogo{
   margin: 0 auto ;
   display: block;

 }
 .Ofelogo:hover {
  transition: all ease 0.3s;
  transform: scale(1.1);
 }
